page-pre-home-redes-sociais {
  .listing-header {
    .header-logo {
      width: 34vw;
    }
  }

  .contentPreHomeRedesSociais {
    padding: 16px 6%;
    background-color: color($colors, background, base);

    .titulo-vinculacao {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: $theme-color-1;
      margin-bottom: 30px;
      margin-top: 20%;
      margin-left: 5px;
      margin-right: 5px;
    }
    .redes-sociais {
      margin-top: 40px;
    }
    .facebook-auth-button {
      margin: 0px;
      margin-top: 20px;
      @include call-to-action-button-styles(color($colors, facebook, base), color($colors, facebook, contrast));
    }

    .google-auth-button {
      margin: 0px;
      margin-top: 20px;
      @include call-to-action-button-styles(color($colors, google, base), color($colors, google, contrast));
    }

    .button-continuar {
      margin-top: 40px;
      font-size: 1.4rem;
      border-radius: 6px;
      font-weight: 500;
    }
  }
}