page-home {
  .listing-header {
    .header-logo {
      width: 34vw;
    }
  }

  .contentHome {
    background-color: color($colors, background, base);

    .user-details {
      @include element-shadow();
      padding-bottom: 4%;
      background-color: $white;

      .user-bio-row {
        padding: 4%;

        .user-name {
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: $theme-color-1;
          margin: 0px;
        }

        .user-location {
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: $white-e;
          display: block;
          text-align: right;
          line-height: 1.6;
        }

        .user-description {
          font-size: 1.2rem;
          line-height: 1.6;
          letter-spacing: 0.2px;
          color: $white-e;
          margin: 10px 0px 0px;
        }

        .user-detail-section {
          margin-top: 20px;
        }
      }
    }

    .lista-extrato-beneficiario-section {
      margin-top: 25px;
      .titulo-lista-extratos{
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: $theme-color-1;
        margin: 0px;
        margin-bottom: 20px;
      }

      @include layout-list-styles($theme-color-1, $white-e);

      ion-list {
        .list-item {
          .content-row {
            .item-title {
              overflow: hidden;
              text-overflow: ellipsis;
              //white-space: nowrap;
            }

            &.one-line {
              @include align-items(center);

              .item-description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}