<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Revalidação</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contentRevalidacao">
    <form (ngSubmit)="revalidar()" [formGroup]="form" class="formAtualizarEndereco" #formElement="ngForm">
        <ion-list>
            <ion-item>
                <ion-label floating>CEP</ion-label>
                <ion-input type="number" [(ngModel)]="buscaCep.cep" formControlName="cep" maxlength="8"></ion-input>
            </ion-item>
            <ion-row *ngIf="buscaCep.codCidade == null">
                <button type="button" ion-button block [disabled]="!form.controls['cep'].valid" (click)="buscarCep()"><span text-wrap>Buscar</span></button>
            </ion-row>
            <div class="dadosCep" *ngIf="buscaCep.codCidade != null">
                <ion-item>
                    <ion-label floating>Endereço</ion-label>
                    <ion-input type="text" [(ngModel)]="buscaCep.endereco" formControlName="endereco"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Bairro</ion-label>
                    <ion-input type="text" [(ngModel)]="buscaCep.bairro" formControlName="bairro"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Cidade</ion-label>
                    <ion-input type="text" [(ngModel)]="buscaCep.cidade" formControlName="cidade"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>UF</ion-label>
                    <ion-input type="text" [(ngModel)]="buscaCep.uf" formControlName="uf"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Número</ion-label>
                    <ion-input type="number" [(ngModel)]="numero" formControlName="numero"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Complemento</ion-label>
                    <ion-input type="text" [(ngModel)]="complemento" formControlName="complemento"></ion-input>
                </ion-item>
                <ion-row>
                    <button type="submit" ion-button block [disabled]="!formElement.form.valid">Revalidar</button>
                </ion-row>
            </div>
        </ion-list>
    </form>
</ion-content>
