<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span class="titulo-page">Revalidação</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contentRevalidacao">
    <ion-refresher (ionRefresh)="recarregarDados($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Carregando dados...">
        </ion-refresher-content>
    </ion-refresher>
    <h2 class="titulo-lista-beneficiario-vazia" text-center *ngIf="listaBeneficiarios.length == 0">Não há beneficiários para revalidar</h2>
    <ion-list *ngIf="listaBeneficiarios.length > 0">
        <button ion-item class="list-item" *ngFor="let beneficiario of listaBeneficiarios" (click)="revalidar(beneficiario)">
            <ion-row no-padding class="content-row one-line">
                <ion-col no-padding width-90 class="item-content">
                    <h3 class="item-title" text-wrap>{{ beneficiario.nome | capitalizeAll}}</h3>
                    <p class="item-description">Data Validade Carteira: {{ beneficiario.compValidadeFinal | date: "dd/MM/y"}}</p>
                </ion-col>
                <ion-col no-padding width-10 class="item-icon">
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-col>
            </ion-row>
        </button>
    </ion-list>
</ion-content>