<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Segunda Via Boleto</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contentListaSegundaViaBoleto">
    <ion-refresher (ionRefresh)="recarregarDados($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Carregando dados...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list text-wrap>
        <button ion-item class="list-item" *ngFor="let boleto of listaBoletosEmAberto" (click)="visualizarBoleto(boleto)">
            <ion-row no-padding class="content-row one-line">
                <ion-col no-padding width-90 class="item-content">
                    <h3 class="item-title" text-wrap *ngIf="boleto.nomeCli_titular">{{ boleto.nomeCli_titular | capitalizeAll}}</h3>
                    <h3 class="item-title" text-wrap *ngIf="boleto.nomeCli_agregado">{{ boleto.nomeCli_agregado | capitalizeAll}}</h3>
                    <p class="item-description">Título: {{boleto.desTpt | capitalizeAll}}</p>
                    <p class="item-description">Número Título: {{boleto.numTitulo}}</p>
                    <p class="item-description">Vencimento: {{boleto.dataVencimentoCalculado | date: "dd/MM/y"}}</p>
                </ion-col>
                <ion-col no-padding width-10 class="item-icon">
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-col>
            </ion-row>
        </button>
    </ion-list>
</ion-content>
